<h1>Word to Define: <%= @word.name %></h1>

<h3>Definitions:</h3>

  <% if @word.definitions.any? %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/homepage/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.meaning %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>
<p>*click the link to update or delete a definition</p>
<h4>Add a new definition!</h4>

<form action="/homepage/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <input id="word_def" name="word_def" class="form-control" type="text" placeholder="Enter it here. ">
  </div>
  <button type="submit" class="btn btn-info">go!</button>
</form>

<a href="/homepage">Return to word list</a>